<!DOCTYPE html>
<html>
    <head>
      <title>for DGU</title>
        <!-- Stylesheets
      	============================================= -->
      	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
      	<link rel="stylesheet" href="css/style.css" type="text/css" />
      
      	<!-- One Page Module Specific Stylesheet -->
      	<link rel="stylesheet" href="css/onepage.css" type="text/css" />
      	<!-- / -->
      
      	<link rel="stylesheet" href="css/dark.css" type="text/css" />
      	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
      	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
      	<link rel="stylesheet" href="css/animate.css" type="text/css" />
      	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
      
      	<link rel="stylesheet" href="css/fonts.css" type="text/css" />
      
      	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
      	<link rel="stylesheet" href="css/noto-fonts.css" type="text/css" />
      	<link rel="stylesheet" href="css/for_dgu.css?v=20150601" type="text/css" />
      	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      	<!--[if lt IE 9]>
      	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      	<![endif]-->
      
      	<!-- External JavaScripts
      	============================================= -->
      	<script type="text/javascript" src="js/jquery.js"></script>
      	<script type="text/javascript" src="js/plugins.js"></script>
      	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <!--  AngularJS -->
        <script src="js/angular.min.js"></script>
        <script src="js/UnivController.js"></script>
        <!--<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>-->
        <!-- for slide -->
        <!--<link rel="stylesheet" type="text/css" href="css/demo_bak.css" />-->
        <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
        <link rel="stylesheet" type="text/css" href="css/custom.css" />
        <script src="js/modernizr.custom.17475.js"></script>
      <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body class="stretched side-push-panel" ng-app="myApp" ng-controller="univController">
        <div class="body-overlay"></div>
        </div>
        <!-- Document Wrapper
        ============================================= -->
        <div id="wrapper" class="clearfix">
        
        	<!-- Header
        	============================================= -->
        	<header id="header" class="full-header transparent-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">
        		<div id="header-wrap">
        			<div class="fb-wrapper">
        				<div class="fb-like" data-href="http://likelion.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        			</div>
        			<div class="container clearfix">
        				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        
        				<!-- Logo
        				============================================= -->
        				<div id="logo">
        					<a href="/" class="standard-logo" data-dark-logo="images/logo1.png"><img src="images/logo1.png" alt="for DGU"></a>
        					<a href="/" class="retina-logo" data-dark-logo="images/logo1.png"><img src="images/logo1.png" alt="for DGU"></a>
        				</div>
        				<!-- #logo end -->
        
        				<!-- Primary Navigation
        				============================================= -->
        				<nav id="primary-menu">
        					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
        						<li><a href="#" data-href="#wrapper"><div>HOME</div></a></li>
        						<li><a href="#" data-href="#section-about"><div>ABOUT</div></a></li>
        						<li><a href="#" data-href="#section-univ"><div>NEWS</div></a></li>
        						<li><a href="#" data-href="#section-works"><div>일정알림</div></a></li>
        						<li><a href="#" data-href="#section-review"><div>IDEAS</div></a></li>
        						<li><a href="#" data-href="#section-services"><div>자유게시판</div></a></li>
        						<li><a href="#" data-href="#section-operator"><div>응원메세지</div></a></li>
        					</ul>
        				</nav><!-- #primary-menu end -->
        			</div>
        		</div>
        	</header><!-- #header end -->
        
        	<!-- Slider
        	============================================= -->
        	<section id="slider" class="slider-parallax full-screen force-full-screen">
        		<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('images/student_all.jpg'); background-size: cover; background-position: center center;">
        			<div class="container center">
        				<div class="vertical-middle ignore-header">
        
        					<div class="emphasis-title">
        						<h1 class="t700 font-body opm-large-word">
        							"야 너네학교 이겼다며?"<br>"응 그런데 아직 총장은 안나갔어..."
        							
        						</h1>
        					</div>
        
        					<!--<div class="box bg-1">-->
        						<!--<a a href="#" data-scrollto="#section-apply" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="button button--nina button--text-thick button--text-upper button--size-s" data-text="apply">-->
        							<!--&lt;!&ndash;for animation &ndash;&gt;-->
        							<!--<span>a</span>-->
        							<!--<span>p</span>-->
        							<!--<span>p</span>-->
        							<!--<span>l</span>-->
        							<!--<span>y</span>-->
        						<!--</a>-->
        					<!--</div>-->
        
        				</div>
        			</div>
        
        			<div class="video-wrap">
        				<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
        			</div>
        
        			<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><img src="images/arrow-down-01.png" class="icon-angle-down infinite animated fadeInDown"></a>
        
        		</div>
        
        	</section><!-- #slider end -->
        
        	<!-- Content
        	============================================= -->
        	<section id="content">
        		<div class="content-wrap nopadding">
        			<div id="section-about" class="center page-section">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/kimkeonjung.png'); background-size: cover; background-position: center center;">
        					<div class="container clearfix">
        					    <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">ABOUT</span></center>
        					</div>
        				</div>
        				<div class="container clearfix">
        					<div class="divcenter ll-about-text ll-font">
        						<div class="c-upper">
        							<div class="top"><span class="ll-font-bold ll-font-underline">김건중 부총학생회장의 50일 가까운 단식..</span></div>
        							<div class="top"><span class="ll-font-bold ll-font-underline">최장훈 원우의 투신 선언..</span></div>
        							<div class="top"><span class="ll-font-bold ll-font-underline">이사 총 사퇴 그리고 이젠 학교밖에서도 들려오는 동국대의 이야기들..</span></div>
        							<div class="middle">우리가 뭘 할 수 있을까,<br/><span class="ll-font-bold ll-font-underline"></span>내가 뭘 할 수 있을까...</div>
        							<div class="last ll-font-bold ll-font-underline">'for DGU' 그래서 만들었습니다.</div>
        						</div>
        
        						<span class="ll-font-orange c-lower">제가 할 수 있는건 <b>홈페이지</b>였습니다. 학우여러분께서 할 수 있는건 무엇인가요</span><br>
        						<span class="ll-font-orange c-lower">어떻게 하면 사태가 끝날 수 있을지. <b>[for DGU]</b>가 각자의 <b>생각</b>을 모으는데 적게나마 보탬이 되기를..</span>
        					</div>
        
        					<div class="clear"></div>
        
        					<div class="ll-introduction" style="width: 110%; margin-left: -60px;">
        						<div class="c-intro c-ssn" style="width:auto;">
        							<div class="row">
        								<div class="col-sm-4">
        									<div class="c-ssn-header">NEWS</div>
        									<img src="images/about/iconmonstr-bell-7-icon-256.png" class="c-ssn-image">
        									<p class="c-ssn-text">
        										이사 총 사퇴를 맞은 상황, 그 후 뭐가 어떻게 되고있는건지<br/>뉴스기사와 소식들 그리고 일정을 확인하세요.
        									</p>
        								</div>
        								<div class="col-sm-4">
        									<div class="c-ssn-header">COMMUNICATE</div>
        									<img src="images/about/iconmonstr-user-14-icon-256.png" class="c-ssn-image">
        									<p class="c-ssn-text">
        										대체 내 말이 들리기는 할까? 라고 생각해본적 있다면<br/>이 곳에서 더 큰 목소리로 소통해보는것은 어떨까요.
        									</p>
        								</div>
        								<div class="col-sm-4">
        									<div class="c-ssn-header">NETWORK</div>
        									<img src="images/about/iconmonstr-network-6-icon-256.png" class="c-ssn-image">
        									<p class="c-ssn-text">
        										다른 학우들과 실시간으로 자신의 생각을 이야기하고<br/>아이디어와 재능이 있다면 나누어 보아요.
        									</p>
        								</div>
        							</div>
        						</div>
        						<div class="c-intro c-period">
        						</div>
        						<div class="c-intro c-learnWrapper">
        							<div class="c-learn clearfix">
        								<img src="images/about/bird.ico" class="c-learn-icon">
        								<div class="c-learn-text">종강이 <span class="ll-font-bold">눈 앞으로</span>다가왔습니다.</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        									숨막히는 진통 끝에<span class="ll-font-bold"> 이사 총 사퇴</span> 라는 빛을 보았지만 기쁨도 잠시, <span class="ll-font-bold">이사 그 누구도 </span>사퇴했다는 소식은 없습니다.<br/>
        								</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        									또다시 학교는 기약도 없이<span class="ll-font-bold"> 묵묵부답하면서</span> 종강과 함께 우리의 <span class="ll-font-bold">관심이 떠나기만 </span>바라는것 같습니다.<br/>
        								</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        									그래서인지<span class="ll-font-bold"> 방학 동안</span> 이사들이 무슨 일을 꾸밀거라는 <span class="ll-font-bold">소문이 </span>공공연하게 떠돌고 있습니다.<br/>
        								</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">사람이 눈에 보이지 않는 몇몇의 스님들. 우리가 지치는게 아니라 <span class="ll-font-bold">그들을 지치게 만들어봅시다.</span></div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        								    소수가 아닌 다수가 힘을모아 <span class="ll-font-bold">될때까지</span> 부딪혀보았으면 합니다.
        								</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        								    앞으로 살아갈 날들을 위해, <span class="ll-font-bold">이번만큼은 이길 수 있다고</span> 믿으려 합니다.
        								</div>
        							</div>
        							<div class="c-learn clearfix">
        								<div class="c-learn-text">
        								    끝날 때 까지는 끝난게 아니듯, 보광이 나갈때까지 함께 만들어봅시다.
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        
        			<div id="section-univ" class="page-section notoppadding ll-review">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/choijanghun.png'); background-size: cover; background-position: center center;">
                            <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">NEWS</span></center>
                        </div>
        				<div class="ll-sponser-smHeader">
        				    <img src="images/bg/more_befor_articles.jpg" style="">
        				    <a href="/news/info">CLICK<em>!</em></a>
        				</div>
                        <div class="container">
        					<div class="common-height clearfix">
        						<div class="col-md-12">
        							<div class="ll-service-wrapper" style="padding:0px;">
        								<div class="row grid-border clearfix">
        									<div class="col-md-12 col-sm-12 11-service-pd" style="height:auto;">
        									    <p style="font-weight:bold; font-size:25px; margin: 100px 0px 20px 0px;">언론 기사</p>
        									</div>
        									<% Article.last(12).reverse.each do |atc| %>
        									<div class="col-md-3 col-sm-6 ll-service-pd" style="height: 375px;">
        										<a href="<%= atc.link %>" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="<%= atc.img1 %>" style="height:150px;" class="ll-service-image">
        												<h3><%= atc.org %>(<%= atc.date_day %>)</h3>
        												<p><%= atc.title %></p>
        												<span><%= atc.subtitle %></span>
        												<a href="<%= atc.link %>" target="_blank"><p>링크 보기</p></a>
        											</div>
        										</a>
        									</div>
        									<% end %>
        									
        									<div class="col-md-12 col-sm-12" style="height:160px!;">
        									    <p style="font-weight:bold; font-size:25px; margin: 100px 0px 20px 0px;">인물 HOT</p>
        									</div>
        									<% name = ['김건중','최장훈','최광백','안드레'] %>
        									<% name.each do |nm| %>
        									<% unless Onair.where(:who_name => "#{nm}").count == 0 %>
            									<% people = Onair.where(:who_name => "#{nm}").last %>
            									<div class="col-md-3 col-sm-6 ll-service-pd" height="347px;">
            										<a href="/people/info" target="_blank">
            											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
            												<img src="<%= people.img1 %>" class="ll-service-image">
            												<h3><%= people.who_name + "(#{people.who_did})" %></h3>
            												<p>최근 소식 : <%= people.date_day %></p>
            												<span><%= people.who_status.first(13) %>..</span>
            												<a>자세히 보기</a>
            											</div>
            										</a>
            									</div>
            									<% end %>
            								<% end %>
        									<div class="col-md-3 col-sm-6 ll-service-pd" height="347px;">
        										<a href="/people/info?char_name=ChoiJangHun" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRmCl2k5yWbcP_Aq2XUPZUyxARXYXHyJqRrB_VXHVlOknJHtNnb" class="ll-service-image" height="150px">
        												<h3>최장훈</h3>
        												<p>2015년 대학원 총학생회장</p>
        												<span>고공농성에서 투신소동까지. 그의 이야기</span>
        												<a href="/people/info?char_name=ChoiJangHun" target="_blank">바로가기</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd" height="347px;">
        										<a href="http://togedule.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/togedule.jpg" class="ll-service-image">
        												<h3>투게쥴</h3>
        												<p>여럿이 시간 약속 잡을 때는?</p>
        												<span>친구끼리 비는 시간 찾아서 약속시간 후보 알려주기 </span>
        												<a href="http://togedule.com" traget="_blank">http://togedule.com</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd" height="347px;">
        										<a href="http://jikbakguri.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/avsearch.jpg" class="ll-service-image">
        												<h3>직박구리</h3>
        												<p>건국이래 가장 야동 잘 찾아주는 사이트</p>
        												<span>야동 평가/추천 서비스 평균 하루 방문자 n만</span>
        												<a href="http://jikbakguri.com" target="_blank">http://jikbakguri.com</a>
        											</div>
        										</a>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
        
                        <!-- Elastislide Carousel -->
                        <div class="container" style="width: 90%; margin-top: 10px">
                            <ul id="carousel" class="elastislide-list">
              <!--                  <li ng-click="view_member('unist')"><a style="cursor: pointer;"><img src="images/univ/univ/unist.jpg" alt="unist" /></a></li>-->
              <!--                  <li ng-click="view_member('konkuk')"><a style="cursor: pointer;"><img src="images/univ/univ/konkuk.jpg" alt="건국대" /></a></li>-->
        						<!--<li ng-click="view_member('kangwon')"><a style="cursor: pointer;"><img src="images/univ/univ/kangwon.jpg" alt="강원대" /></a></li>-->
        						<!--<li ng-click="view_member('knu')"><a style="cursor: pointer;"><img src="images/univ/univ/knu.jpg" alt="경북대" /></a></li>-->
              <!--                  <li ng-click="view_member('khu')"><a style="cursor: pointer;"><img src="images/univ/univ/khu.jpg" alt="경희대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('korea')"><a style="cursor: pointer;"><img src="images/univ/univ/korea.jpg" alt="고려대" /></a></li>-->
              <!--                  <li ng-click="view_member('kookmin')"><a style="cursor: pointer;"><img src="images/univ/univ/kookmin.jpg" alt="국민대" /></a></li>-->
              <!--                  <li ng-click="view_member('dankook')"><a style="cursor: pointer;"><img src="images/univ/univ/dankook.jpg" alt="단국대" /></a></li>-->
              <!--                  <li ng-click="view_member('duksung')"><a style="cursor: pointer;"><img src="images/univ/univ/duksung.jpg" alt="덕성여대" /></a></li>-->
              <!--                  <li ng-click="view_member('dongguk')"><a style="cursor: pointer;"><img src="images/univ/univ/dongguk.jpg" alt="동국대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('dongduk')"><a style="cursor: pointer;"><img src="images/univ/univ/dongduk.jpg" alt="동덕여대" /></a></li>-->
              <!--                  <li ng-click="view_member('pusan')"><a style="cursor: pointer;"><img src="images/univ/univ/pusan.jpg" alt="부산대" /></a></li>-->
              <!--                  <li ng-click="view_member('sogang')"><a style="cursor: pointer;"><img src="images/univ/univ/sogang.jpg" alt="서강대" /></a></li>-->
              <!--                  <li ng-click="view_member('seoultech')"><a style="cursor: pointer;"><img src="images/univ/univ/seoultech.jpg" alt="서울과기대" /></a></li>-->
              <!--                  <li ng-click="view_member('snu')"><a style="cursor: pointer;"><img src="images/univ/univ/snu.jpg" alt="서울대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('uos')"><a style="cursor: pointer;"><img src="images/univ/univ/uos.jpg" alt="서울시립대" /></a></li>-->
              <!--                  <li ng-click="view_member('swu')"><a style="cursor: pointer;"><img src="images/univ/univ/swu.jpg" alt="서울여대" /></a></li>-->
              <!--                  <li ng-click="view_member('skku')"><a style="cursor: pointer;"><img src="images/univ/univ/skku.jpg" alt="성균관대" /></a></li>-->
              <!--                  <li ng-click="view_member('sungshin')"><a style="cursor: pointer;"><img src="images/univ/univ/sungshin.jpg" alt="성신여대" /></a></li>-->
              <!--                  <li ng-click="view_member('sookmyung')"><a style="cursor: pointer;"><img src="images/univ/univ/sookmyung.jpg" alt="숙명여대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('ajou')"><a style="cursor: pointer;"><img src="images/univ/univ/ajou.jpg" alt="아주대" /></a></li>-->
              <!--                  <li ng-click="view_member('yonsei')"><a style="cursor: pointer;"><img src="images/univ/univ/yonsei.jpg" alt="연세대" /></a></li>-->
              <!--                  <li ng-click="view_member('yungnam')"><a style="cursor: pointer;"><img src="images/univ/univ/yungnam.jpg" alt="영남대" /></a></li>-->
              <!--                  <li ng-click="view_member('wku')"><a style="cursor: pointer;"><img src="images/univ/univ/wku.jpg" alt="원광대" /></a></li>-->
              <!--                  <li ng-click="view_member('ewha')"><a style="cursor: pointer;"><img src="images/univ/univ/ewha.jpg" alt="이화여대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('inha')"><a style="cursor: pointer;"><img src="images/univ/univ/inha.jpg" alt="인하대" /></a></li>-->
              <!--                  <li ng-click="view_member('jnu')"><a style="cursor: pointer;"><img src="images/univ/univ/jnu.jpg" alt="전남대" /></a></li>-->
              <!--                  <li ng-click="view_member('cau')"><a style="cursor: pointer;"><img src="images/univ/univ/cau.jpg" alt="중앙대" /></a></li>-->
              <!--                  <li ng-click="view_member('cnu')"><a style="cursor: pointer;"><img src="images/univ/univ/cnu.jpg" alt="충남대" /></a></li>-->
              <!--                  <li ng-click="view_member('ptu')"><a style="cursor: pointer;"><img src="images/univ/univ/ptu.jpg" alt="평택대" /></a></li>-->
        
              <!--                  <li ng-click="view_member('kaist')"><a style="cursor: pointer;"><img src="images/univ/univ/kaist.jpg" alt="한국과학기술원" /></a></li>-->
              <!--                  <li ng-click="view_member('hufs')"><a style="cursor: pointer;"><img src="images/univ/univ/hufs.jpg" alt="한국외대" /></a></li>-->
              <!--                  <li ng-click="view_member('handong')"><a style="cursor: pointer;"><img src="images/univ/univ/handong.jpg" alt="한동대" /></a></li>-->
              <!--                  <li ng-click="view_member('hanyang')"><a style="cursor: pointer;"><img src="images/univ/univ/hanyang.jpg" alt="한양대" /></a></li>-->
              <!--                  <li ng-click="view_member('karts')"><a style="cursor: pointer;"><img src="images/univ/univ/karts.jpg" alt="한예종" /></a></li>-->
        
              <!--                  <li ng-click="view_member('foreign')"><a style="cursor: pointer;"><img src="images/univ/univ/foreign.jpg" alt="유학생" /></a></li>-->
                            </ul>
                        </div>
        				<!-- End Elastislide Carousel -->
        
                        <!-- member -->
        				<div class="container">
        					<div class="common-height clearfix">
        						<div class="col-md-12">
        							<div class="ll-service-wrapper">
        								<div class="row common-height grid-border clearfix">
                                            <!-- for -->
        									<div class="col-md-3 col-sm-6 ll-service-pd" ng-repeat="x in members">
                                                <div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder" style="cursor: default">
                                                    <img src="{{x.photo}}" class="ll-service-image" style="width: 220px; height: 220px;">
        											<h3 ng-bind="x.name" class="member" style="margin-top: 15px;"></h3>
        											<h3 ng-bind="univ.name" class="member" style="font-size: 13px; height: 20px;"></h3>
                                                    <h3 ng-bind="x.major" class="member" style="font-size: 13px; height: 20px;"></h3>
                                                </div>
        									</div>
        
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
                        <!-- END member -->
        
        			</div>
        
        			<div id="section-works" class="page-section notoppadding">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/house.png'); background-size: cover; background-position: center center;">
        				    <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">일정알림</span></center>
        				</div>
        				<div class="ll-sponser-smHeader">
        				    <!--<span style="background-color: #f39700;color: #fff;">지나온 일정들을 확인하세요!</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        				    <img src="images/bg/more_befor_scdls.png" style="">
        				    <a href="/scdl/info">CLICK<em>!</em></a>
        				</div>
        				<div class="container">
        					<div id="portfolio" class="clearfix ll-sponser">
        					    <div class="ll-sponser-smHeader">집중 참가 일정</div>
        					    <% n = 0 %>
        						<% Scdl.last(4).reverse.each do |x| %>
        						<div class="ll-sponser-item">
        							<div class="c-image">
        								<a href="<%= "일정.링크" %>" target="_blank">
        									<div class="col-md-12" style="height: 300px;">
        									    <div class="col-md-12" style="height: 50px; text-align:center;">
        									        <div class="col-md-2"></div>
        									        <% active_day = ( Date.parse(Time.zone.now.to_s) - Date.parse("#{x.date_day}") ).to_i %>
        									        <div class="col-md-8" style="background-color:<%= "#00ab7D" if active_day <= 0 %><%= "#acacac" if active_day > 0 %>;height: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;border-top: 2px solid #1aa1a1;border-right: 2px solid #1aa1a1;border-left: 2px solid #1aa1a1;">
        									            <p style="padding:0px;margin:0px;font-size: 25px;color: #fff;"><%= Scdl.count.to_i - n %> 번째 일정</p><% n=n+1 %>
        									        </div>
        									        <div class="col-md-2"></div>
        									    </div>
        									    <div class="col-md-12" style="height: 215px;">
            									    <div class="col-md-2" style="height: 215px;"></div>
            									    <div class="col-md-8" style="padding:0px;border-bottom: 2px solid #1aa1a1;border-right: 2px solid #1aa1a1;border-left: 2px solid #1aa1a1;">
            									        <div style="height: 215px;
            									                    z-index: -1; 
            									                    background-image:url(<%= x.img1 %>); 
            									                    background-color:#000; 
            									                    filter: blur(5px);
                                                                    -ms-filter: blur(5px);
                                                                    -moz-filter: blur(5px);
                                                                    -webkit-filter: blur(5px);
                                                                    border-bottom-right-radius:10px; 
                                                                    border-bottom-left-radius:10px; 
                                                                    overflow: hidden;
                                                                    background-size: contain;"></div>
                                                        <div style="height: 215px;
            									                    z-index: 0; 
            									                    position: absolute;
            									                    top: 0%;
            									                    opacity: 0.6;
            									                    width: 100%;
            									                    background-color:#000;"></div>
            									        <div style="position: absolute;top: 0%;z-index: 1;width: 100%;text-align: center;">
            									            <img src="<%= x.img1 %>" alt="<%= "일정.이름" %>" style="height: 215px;z-index: 1;top: 0%;">
            									        </div>
            									    </div>
                									<div class="col-md-2" style="height: 215px;"></div>
                								</div>
                								<div class="col-md-12" style="height: 35px; text-align:center;"></div>
            								</div>
        								</a>
        							</div>
        							<div class="c-desc" style="z-index:2;">
        								<a href="/scdl/info" target="_blank" class="c-desc-link" style="margin-top: -15px;">[<%= x.action_type %>]</a>
        								<span>[<%= x.date_day.to_s.last(5).first(2) + "월" %> <%= x.date_day.to_s.last(2) + "일" %>] <%= x.date_time_start %> ~ <%= x.date_time_end %>(예상)<br><%= x.content_detail %><br><%= ScdlReply.where(:scdl_id => x.id).count %> 명이 참여를 신청했습니다.</span>
        							</div>
        						</div>
        						<% end %>
        						<!--일일모집-->
        						<div class="ll-sponser-smHeader">일일 참가자 모집</div>
        						<div class="ll-sponser-smWrapper">
        							<!--주간상주DB-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a href="/" target="_blank">
        										<img src="images/sponsers/pellue.png" alt="주간지킴이 모집">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a href="/" target="_blank" class="c-desc-link">주간지킴이 모집</a>
        									<span>[날짜]천막 주간 지킴이를 모집합니다!(시간: 09~18시 사이 자율)</span>
        								</div>
        							</div>
        							<!--/-->
        							<!--야간상주DB-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a href="/" target="_blank">
        										<img src="images/sponsers/tc.png" alt="야간지킴이 모집">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a href="/" target="_blank" class="c-desc-link">야간지킴이 모집</a>
        									<span>[날짜]천막 야간 지킴이를 모집합니다!(시간: 18~24시 사이 자율)</span>
        								</div>
        							</div>
        							
        							<!--아침피켓팅DB-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a href="/" target="_blank">
        										<img src="images/sponsers/js.png" alt="아침피켓터 모집">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a href="/" target="_blank" class="c-desc-link">아침피켓터 모집</a>
        									<span>[날짜]아침에 피켓팅하실분?(시간:08:30~09:30)</span>
        								</div>
        							</div>
        							<!--점심피켓팅DB-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a href="/" target="_blank">
        										<img src="images/sponsers/bc.png" alt="점심피켓터 모집">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a href="/" target="_blank" class="c-desc-link">점심피켓터 모집</a>
        									<span>[날짜]점심에 피켓팅하실분?(시간:11:30~12:30)</span>
        								</div>
        							</div>
        							
        							<!--팀원모집DB-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a href="/" target="_blank">
        										<img src="images/sponsers/bp.png" alt="정식 팀원 모집">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a href="/" target="_blank" class="c-desc-link">정식 팀원 모집</a>
        									<span>미동추<br/>로 함께하고싶은 사람 누구나.</span>
        								</div>
        							</div>
        						</div>
        						<!--/일일모집끝.-->
        						<!--재능모집-->
        						<div class="ll-sponser-smHeader">재능 모집</div>
        						<div class="ll-sponser-smWrapper">
        							<!--for 마지막 5개-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a>
        										<img src="재능.이미지" alt="모집제목">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a class="c-desc-link">모집제목</a>
        									<span>날짜, 시간, 참가현황</span>
        								</div>
        							</div>
        							<!--/-->
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a>
        										<img src="재능.이미지" alt="모집제목">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a class="c-desc-link">모집제목</a>
        									<span>날짜, 시간, 참가현황</span>
        								</div>
        							</div>
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a>
        										<img src="재능.이미지" alt="모집제목">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a class="c-desc-link">모집제목</a>
        									<span>날짜, 시간, 참가현황</span>
        								</div>
        							</div>
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a>
        										<img src="재능.이미지" alt="모집제목">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a class="c-desc-link">모집제목</a>
        									<span>날짜, 시간, 참가현황</span>
        								</div>
        							</div>
        							<div class="ll-sponser-item is-sm">
        								<div class="c-image">
        									<a>
        										<img src="재능.이미지" alt="모집제목">
        									</a>
        								</div>
        								<div class="c-desc">
        									<a class="c-desc-link">모집제목</a>
        									<span>날짜, 시간, 참가현황</span>
        								</div>
        							</div>
        						</div>
        						<!--/재능모집끝.-->
        					</div>
        				</div><!-- #portfolio end -->
        			</div>
        
        			<div id="section-review" class="page-section notoppadding ll-review">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/super_big_massage.png'); background-size: cover; background-position: center center;">
        				    <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">IDEAS</span></center>
        				</div>
        				<div class="ll-sponser-smHeader">
        				    <img src="images/bg/more_befor_ideas.jpg" style="">
        				    <a href="/scdl/info">CLICK<em>!</em></a>
        				</div>
        				<div class="ll-review-content">
        					<div class="container clearfix">
        						<div class="nobottommargin">
        							<div class="fslider testimonial testimonial-full nobgcolor noborder noshadow nopadding" data-arrows="false">
        								<div class="flexslider">
        									<div class="slider-wrap">
        									    <!--for 5times-->
        										<div class="slide">
        											<div>
        												<div class="c-profile">
        													<img src="images/about/iconmonstr-cloud-25-icon-256.png">
        												</div>
        												<p class="c-content">
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. <br/>
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. !!!
        												</p>
        												<div class="c-student">
        													발제자 이름(익명여부)
        													<span>소속 학과(공개여부)</span>
        												</div>
        											</div>
        										</div>
        										<!--/-->
        										<div class="slide">
        											<div>
        												<div class="c-profile">
        													<img src="images/about/iconmonstr-cloud-25-icon-256.png">
        												</div>
        												<p class="c-content">
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. <br/>
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. !!!
        												</p>
        												<div class="c-student">
        													발제자 이름(익명여부)
        													<span>소속 학과(공개여부)</span>
        												</div>
        											</div>
        										</div>
        										<div class="slide">
        											<div>
        												<div class="c-profile">
        													<img src="images/about/iconmonstr-cloud-25-icon-256.png">
        												</div>
        												<p class="c-content">
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. <br/>
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. !!!
        												</p>
        												<div class="c-student">
        													발제자 이름(익명여부)
        													<span>소속 학과(공개여부)</span>
        												</div>
        											</div>
        										</div>
        										<div class="slide">
        											<div>
        												<div class="c-profile">
        													<img src="images/about/iconmonstr-cloud-25-icon-256.png">
        												</div>
        												<p class="c-content">
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. <br/>
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. !!!
        												</p>
        												<div class="c-student">
        													발제자 이름(익명여부)
        													<span>소속 학과(공개여부)</span>
        												</div>
        											</div>
        										</div>
        										<div class="slide">
        											<div>
        												<div class="c-profile">
        													<img src="images/about/iconmonstr-cloud-25-icon-256.png">
        												</div>
        												<p class="c-content">
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. <br/>
        													아이디어 내용. 아이디어 내용. 아이디어 내용. 아이디어 내용. !!!
        												</p>
        												<div class="c-student">
        													발제자 이름(익명여부)
        													<span>소속 학과(공개여부)</span>
        												</div>
        											</div>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        
        			<div id="section-services" class="page-section notoppadding">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/interview.png'); background-size: cover; background-position: center center;">
        				    <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">자유게시판</span></center>
        				</div>
        				<div class="ll-sponser-smHeader">
        				    <img src="images/bg/more_befor_talks.jpg" style="">
        				    <a href="/agora/info">CLICK<em>!</em></a>
        				</div>
        				<div class="container">
        					<div class="common-height clearfix">
        						<div class="col-md-12">
        							<div class="ll-service-wrapper">
        								<div class="row common-height grid-border clearfix">
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://codestudy.kr" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/codestudy.jpg" class="ll-service-image">
        												<h3>코드스터디</h3>
        												<p>온라인 프로그래밍 교육</p>
        												<span>한국 인터넷 진흥원 KISA와 공동프로젝트 진행</span>
        												<a href="http://codestudy.kr" target="_blank">http://codestudy.kr</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://codelion.net" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/codelion.jpg" class="ll-service-image">
        												<h3>코드라이언</h3>
        												<p>온라인 프로그래밍 교육</p>
        												<span>한국인터넷진흥원 KISA와 공동프로젝트 진행 NIPA 캠퍼스CEO 프로그램 선정 약 3천 여명이 수강</span>
        												<a href="http://codelion.net" target="_blank">http://codelion.net</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="#" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/nowarning.jpg" class="ll-service-image">
        												<h3>NOWARNING</h3>
        												<p>PROXY 속도 비교</p>
        												<a href="http://nowarning.or.kr">http://nowarning.or.kr</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://bepro11.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/bepro11.jpg" class="ll-service-image">
        												<h3>BePro11</h3>
        												<p>축구 기록 관리 시스템</p>
        												<span>아마추어 축구 리그 및 기록 관리 시스템 법인 설립, 벤처기업 인증, 시드 펀딩 완료</span>
        												<a href="http://bepro11.com" target="_blank">http://bepro11.com</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/votepeople.jpg" class="ll-service-image">
        												<h3>보트피플</h3>
        												<p>서울대 총학 온라인 투표</p>
        												<span>서울대 총학 투표 및 10여개 주요 학내 투표 진행 서울대 최초의 학생 온라인 투표</span>
        												<a>http://vote.snu.ac.kr</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://jasoseol.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/jasoseol.jpg" class="ll-service-image">
        												<h3>자소설닷컴</h3>
        												<p>자기소개서 토탈솔루션</p>
        												<span>19만개 이상의 자기소개서 보유. 시드 펀딩 완료.</span>
        												<a href="http://jasoseol.com" target="_blank">http://jasoseol.com</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://togedule.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/togedule.jpg" class="ll-service-image">
        												<h3>투게쥴</h3>
        												<p>여럿이 시간 약속 잡을 때는?</p>
        												<span>친구끼리 비는 시간 찾아서 약속시간 후보 알려주기 </span>
        												<a href="http://togedule.com" traget="_blank">http://togedule.com</a>
        											</div>
        										</a>
        									</div>
        									<div class="col-md-3 col-sm-6 ll-service-pd">
        										<a href="http://jikbakguri.com" target="_blank">
        											<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
        												<img src="images/services/avsearch.jpg" class="ll-service-image">
        												<h3>직박구리</h3>
        												<p>건국이래 가장 야동 잘 찾아주는 사이트</p>
        												<span>야동 평가/추천 서비스 평균 하루 방문자 n만</span>
        												<a href="http://jikbakguri.com" target="_blank">http://jikbakguri.com</a>
        											</div>
        										</a>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        
        			<div id="section-operator" class="page-section notoppadding ll-review">
        				<div class="section nomargin ll-section-image" style="background-image: url('images/bg/big_message.png'); background-size: cover; background-position: center center;">
        				    <center style="margin-top: 30px;"><span class="li-font-bold" style="color:white;font-size: 60px;" align="center">응원메세지</span></center>
        				</div>
        
                        <!-- Operator -->
        				<div class="container">
        					<div class="common-height clearfix ll-sponser">
        					    <!--<span class="li-font-bold" style="color:#000; font-size:20px;">응원의 한 마디</span>-->
        					    <!--<b><em><span style="color:#4238e3; font-size:24px;">곁에 있을께..</span></em></b>-->
        					    <img src="images/sentense.png" style="width: 11%;margin-bottom: 15px;margin-left: -25px;">&nbsp;&nbsp;
        					    <img src="images/sentense2.png" style="margin-top: -32px;width: 13%;"> 
        					    <span style="position:absolute; right:20px;">총 <b><%= Fimsg.count %></b> 개의 응원이 등록되었습니다.</span>
        					    <div class="panel panel-default">
                                  <!-- Default panel contents -->
                                  <div class="panel-heading">
                                      <form action="/home/fimsg_save" enctype="multipart/form-data" method="POST" name="fimsg_form" id="fimsg_form">
                                          <div class="col-md-3 col-sm-12" align="center">
                                              <span style="font-size: 16px;font-weight: bolder;">이름</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                              <input type="text" name="fimsg_name" value="" placeholder="ex)약학14 홍길동" style="">
                                          </div>
                                          <div class="col-md-8 col-sm-12" align="center">
                                              <span style="font-size: 16px;font-weight: bolder;">내용</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                              <input type="text" name="fimsg_content" placeholder="응원과 참여의 메세지를 보내보세요" style="width:92%;">
                                          </div>
                                          <div class="col-md-1 col-sm-12" style="padding: 0px;">
                                              <input type="submit" value="보내기" style="background-color: #4238e3;color: white;font-weight: bolder;border-radius: 6px;border: 1px solid #fff;width: 100%;height: 40px;margin-top: -5px;">
                                          </div>
                                      </form>
                                  </div>
                                  
                                  <!-- Table -->
                                  <table class="table">
                                      <% Fimsg.all.reverse.each do |msg| %>
                                          <div class="col-md-12" style="margin: 10px;border-bottom: 2px solid #F5F5f5;padding: 15px;">
                                              <div class="col-md-3 col-sm-12" style="padding: 0px;">
                                                  &nbsp;&nbsp;&nbsp;<span style="font-size: 16px;margin-right:13px;font-weight: bolder;">No.<%= msg.id %></span> <img src="images/heart.png" width="30px" style="margin-top: -8px;"><span style="margin-left: 10px;font-size: 18px;"><%= msg.name %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              </div>
                                              <div class="col-md-8 col-sm-12">
                                                  <span style="font-size: 18px;"><%= msg.content %></span>
                                              </div>
                                              <div class="col-md-1 col-sm-12">
                                                  <span style="font-size: 15px;">
                                                      <button type="button" class="btn btn-primary" id="myModal">
                                                          삭제
                                                      </button>
                                                      <script>
                                                         $('#myModal').click(function(){
                                                             alert("삭제버튼을 누르셨습니다.");
                                                            //  $('#myInput').focus()
                                                         })
                                                      </script>
                                                  </span>
                                              </div>
                                          </div>
                                           
                                      <% end %>
                                      <!--<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" -->
                                      <!--title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>-->
                                        
                                        <!--<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
                                        <!--  <div class="modal-dialog modal-sm">-->
                                        <!--    <div class="modal-content">-->
                                        <!--      ...-->
                                        <!--    </div>-->
                                        <!--  </div>-->
                                        <!--</div>-->
                                      
                                          <!-- Small modal -->
                                          <div class="modal fade bs-example-modal-sm" aria-hidden="true" id="myInput" style="display:;">
                                            <div class="modal-dialog modal-sm">
                                              <div class="modal-content">
                                                  <form action="/home/fimsg_delete/<%#= msg.id %>" enctype="multipart/form-data" method="POST" name="confirm_form" id="confirm_form">
                                                    <div class="modal-header">
                                                      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                                      <h4 class="modal-title">비밀번호를 입력하세요</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <input type="password" name="password">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                                      <button type="button" class="btn btn-primary">삭제</button>
                                                    </div>
                                                  </form>
                                              </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                          </div><!-- /.modal -->
                                          <!--/-->
                                  </table>
                                </div>
        					</div>
        				</div>
        
        			</div>
        
        		</div>
            </section>
        </div><!-- #wrapper end -->
        
        
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class=""><img src="images/arrow-up-thick.png"></div>
        
        <div id="fb-root"></div>
        <!--<script>(function(d, s, id) {-->
        <!--	var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--	if (d.getElementById(id)) return;-->
        <!--	js = d.createElement(s); js.id = id;-->
        <!--	js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3&appId=149190165235116";-->
        <!--	fjs.parentNode.insertBefore(js, fjs);-->
        <!--}(document, 'script', 'facebook-jssdk'));</script>-->
        <!-- GA -->
        <script>
        // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        // 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        // 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        // ga('create', 'UA-63602526-1', 'auto');
        // ga('send', 'pageview');
        
        </script>
        
        <!-- Footer Scripts
        ============================================= -->
        <script type="text/javascript" src="js/functions.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        
        <!-- for slide -->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="js/jquerypp.custom.js"></script>
        <script type="text/javascript" src="js/jquery.elastislide.js"></script>
        <script type="text/javascript">
            $( '#carousel' ).elastislide();
        </script>
        
        <!-- footer -->
        <footer id="footer" class="dark">
          <div class="container ll-apply">
            <!-- <div class="divcenter u-alignCenter" style="max-width: 850px;">
              <a href="http://apply.likelion.net" target="_blank" class="button button--nina button--text-thick button--text-upper button--size-s" data-text="지원하기">
                <span>지</span><span>원</span><span>하</span><span>기</span>
              </a>
            </div> -->
            <!-- <div class="ll-apply-description">
              <div class="c-text">
                <span class="ll-font-bold">6월 1일(월)</span> ~ <span class="ll-font-bold">6월 8일(월)</span> 자정까지
              </div>
            </div> -->
            <div class="ll-apply-description">
              <div class="c-text">
                <span class="ll-font-bold">한 걸음만 더, 딛어봅시다. 우리는 동국대 학생입니다.</span><br>
              </div>
            </div>
            <div class="ll-apply-description">
              <div class="c-text">
                <span class="ll-font-bold">총 누적 방문자 <%= @count_total %>명 / 오늘 방문자 <%= Countdaily.where(:today => "#{@today}").take.aday %>명</span><br>
              </div>
            </div>
            <div class="ll-apply-description">
              <div class="c-text">
                <span class="ll-font-bold">미래를여는 동국공동추진위원회(미동추)가 후원을 받고 있습니다.</span>
              </div>
            </div>
        
            <div id="copyrights">
              <div class="center clearfix">
                Templete Copyright : Likelion.net | Made by 'A member of 3rd Likelion in dongguk'
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>